# Node.js dependencies
node_modules/
.next/
out/
dist/

# Environment variables
.env.local
.env.development.local
.env.production.local
.env.test.local
.env

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.lock

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# TypeScript & Build Artifacts
*.tsbuildinfo

# Clerk & Authentication
.clerk

# Other
coverage/

